.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 90px;
}
div a {
    text-decoration: none;
    color: rgb(87, 248, 6);
    margin-left: 20px;
}